.card {
    position: relative;
    width: 210px;
    min-height: 260px;
    padding: 20px 29px 29px 29px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
    border-radius: 40px;
    transition: $transition;
    &:hover {
        border: 1px solid #f8f8f8;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
        transform: translateY(-5px);
    }
    &__unliked {
        &-image {
            position: absolute;
            top: 30px;
            left: 30px;
            cursor: pointer;
        }
    }
    &__image {
        width: 133px;
        height: 112px;
        margin-bottom: 14px;
    }
    &__title {
        margin-bottom: 14px;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        &-content {
            display: flex;
            flex-direction: column;
            &--text {
                text-transform: uppercase;
                color: $color-text-light;
                margin-bottom: 2px;
            }
            &--value {
                font-weight: 700;
            }
        }
        button {
            border: none;
            background-color: transparent;
        }
        &-append {
            cursor: pointer;
        }
    }
}
