.wrapper {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px;
        padding-bottom: 30px;

        .headerLeft {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: 40px;
                margin-right: 15px;
            }
            h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
            }
            span {
                color: $color-text-light;
            }
        }

        .headerRight {
            display: flex;
            align-items: center;
            img {
                width: 18px;
                height: 18px;
            }
            li {
                display: flex;
                align-items: center;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                img {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
                span {
                    color: #5c5c5c;
                }
            }
        }
    }

    .content {
        padding: 60px;
        padding-top: 30px;

        .title-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            form {
                position: relative;
                img {
                    position: absolute;
                    left: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .search {
                    width: 250px;
                    height: 45px;
                    font-size: 16px;
                    border: 1px solid #f3f3f3;
                    border-radius: 10px;
                    padding-left: 46px;
                    padding-right: 15px;
                    @include placeholder {
                        color: #c4c4c4;
                    }
                }
            }
        }

        .sneakers {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
        }
    }
}
